<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sunshine - Responsive Hotel Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
    <meta name="author" content="">
    
    <!-- LOAD CSS FILES -->
    <link href="css/main.css" rel="stylesheet" type="text/css">
    
    <!-- LOAD JS FILES -->
   	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
     <script src="js/easing.js"></script>
    <script src="js/jquery.lazyload.js"></script>
    <script src="js/jquery.ui.totop.js"></script>
	<script src="js/selectnav.js"></script>
    <script src="js/ender.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/responsiveslides.min.js"></script>
	<script src="js/contact.js"></script>
    
</head>

<body>
	<!-- header begin -->
	<header>
        	<div id="logo">
            	<div class="inner">
   	    		  <a href="index.html"><img src="img/logo.png" alt=""></a>
            	</div>
            </div>
            
                        
            <!-- mainmenu begin -->
            <div id="mainmenu-container">           
				<ul id="mainmenu">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="contact.html#">ROOM</a>
                  	<ul>
                    	<li><a href="room-list.html">Room List</a>
                        <li><a href="room-details.html">Room Details</a>
                    </ul>
                  </li>
                  <li><a href="booking.html">Booking</a></li>
                  <li><a href="contact.html#">News</a>
                  	<ul>
                    	<li><a href="news.html">News List</a></li>
                    	<li><a href="single-news.html">Single News</a></li>
                    </ul>
                  </li>
                  <li><a href="fullwidth.html">Fullwidth</a></li>
                  <li><a href="gallery.html">Gallery</a></li>
                  <li><a href="contact.html">Contact</a></li>
              	</ul>
    		</div>

    </header>
	<!-- header close -->
    
    <!-- subheader begin -->
	<div id="subheader">
    	<div class="container">
    	  <div class="row">
          	<div class="span12">
            	<h1>Contact Us</h1>
                <span>This is custom slogan for each page.</span>
            </div>
          </div>
    	</div>
    </div>
	<!-- subheader close -->  
        
   <div id="map-container">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.id/maps?q=itc+depok&amp;hl=id&amp;sll=-6.248411,106.833801&amp;sspn=0.371998,0.529404&amp;ie=UTF8&amp;view=map&amp;f=d&amp;daddr=Jl.+Margonda+Raya+Kav+56,+Depok+16431&amp;geocode=CXBfEqpsWd8iFV5wnv8dev5dBiFfQlEfkZZ3Xw&amp;ll=-6.393762,106.82329&amp;spn=0.006295,0.006335&amp;output=embed"></iframe>
   </div>
    
	<!-- content begin -->
    <div id="content">
    	<div class="container">
        	<div class="row">
            	<div class="span8">
                	<h4>Get in touch with us now!</h4>
Feel free to contact us by contact to get more information.<br/><br/>
                	<div class="contact_form_holder">
              <form id="contact" class="row" name="form1" method="post" action="contact.html">
              
       			<div class="span4">
                <label>Name</label>
           		<input type="text" class="full" name="name" id="name"/>
           		</div>
                
                <div class="span4">
                <label>Email <span class="req">*</span></label>
           		<input type="text" class="full" name="email" id="email"/>
                <div id="error_email" class="error">Please check your email</div> 
				</div>
				
                <div class="span8">
                <label>Message <span class="req">*</span></label>
                <textarea cols="10" rows="10" name="message" id="message" class="full"></textarea>
                <div id="error_message" class="error">Please check your message</div>
                <div id="mail_success" class="success"> Thank you. Your message has been sent.</div>
<div id="mail_failed" class="error">Error, email not sent</div>

<p id="btnsubmit"><input type="submit" id="send" value="Send" class="btn btn-large"/></p>               
                </div>
                
                    
              </form>
            </div>
            
                </div> 
                    
              <div id="sidebar" class="span4">
              		
<div class="widget latest_news">
                    	<h4 class="title">Latest News</h4>
                    	<ul class="list-news"> 
                            <li>
                                <img src="img/thumbnail-1.jpg" alt="" class="img-polaroid">
                                <div class="text"><h5><a href="http://www.aveothemes.com/html/sunshine/img/#">Lorem ipsum dolor sit amet</a></h5>
                              Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</div>
                            </li>
                            <li> <img src="img/thumbnail-2.jpg" alt="" class="img-polaroid">
                              <div class="text">
                                <h5><a href="http://www.aveothemes.com/html/sunshine/img/#">Lorem ipsum dolor sit amet</a></h5>
                              Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</div>
                            </li></ul>
                    	<ul class="list-news">
                    	  <li> <img src="img/thumbnail-3.jpg" alt="" class="img-polaroid">
                    	    <div class="text">
                    	      <h5><a href="http://www.aveothemes.com/html/sunshine/img/#">Lorem ipsum dolor sit amet</a></h5>
                    	      Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</div>
                  	    </li>
    					</ul>
                    </div>
              
              		 <!-- widget category --><!-- widget tags --><!-- widget text -->
       	  <div class="widget widget-text">
                	<h4 class="title"><span>Text Widget</span></h4>
                	<div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.                </div>
       	  </div>
              </div>
        	</div>
</div>
        </div>
    </div>
	<!-- content close -->
    
<!-- footer begin -->
	<footer>
  		<div class="container">
   	  		<div class="row">
                <div class="span3">
                	<img src="img/logo-2.png" alt="">
                </div> 
            	<div class="span3">
                	<h3>About Us</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </div>                                
 				<div class="span3">
                    <h3>Latest News</h3>
                    <ul class="list-news"> 
                        <li>
                            <img src="img/thumbnail-1.jpg" alt=""/>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
                        </li>
                        <li>
                            <img src="img/thumbnail-1.jpg" alt=""/>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
                        </li>
                    </ul>                
               </div>
               <div class="span3">
                	<h3>Our Address</h3>
                    	<address>
                                80 Gotham Street, Sydney
                        <span><strong>Phone:</strong>(208) 222 4546</span>
                        <span><strong>Fax:</strong>(208) 222 4647</span>
                        <span><strong>Email:</strong><a href="mailto:contact@example.com">contact@example.com</a></span>
                        <span><strong>Web:</strong><a href="contact.html#test">http://example.com</a></span>
                       </address>
                       
                       <div class="social-icons">
                        	<a href="contact.html#"><img src="img/social-icons/rss.png" alt=""/></a>
                        	<a href="contact.html#"><img src="img/social-icons/facebook.png" alt=""/></a>
                        	<a href="contact.html#"><img src="img/social-icons/twitter.png" alt=""/></a>
                        	<a href="contact.html#"><img src="img/social-icons/gplus.png" alt=""/></a>
                        	<a href="contact.html#"><img src="img/social-icons/youtube.png" alt=""/></a>
                        	<a href="contact.html#"><img src="img/social-icons/vimeo.png" alt=""/></a>
                        </div>
                </div>
            </div>
        </div>
        
        <div class="subfooter">
        	<div class="container">
                <div class="row">
                	<div class="span6">
                    	&copy; Copyiright 2013 - Sunshine by Aveothemes
                    </div>
                    <div class="span6">
                    	<nav>
                          <ul>
                              <li><a href="contact.html#">Home</a></li>
                              <li><a href="contact.html#">Room</a></li>
                              <li><a href="contact.html#">Booking</a></li>
                              <li><a href="contact.html#">News</a></li>
                              <li><a href="contact.html#">Gallery</a></li>
                              <li><a href="contact.html#">Contact</a></li>
                          </ul>
                        </nav>
                  </div>
                </div>
            </div>
        </div>
        
   	</footer>
	<!-- footer close -->
   
</body>
</html>

