<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sunshine - Responsive Hotel Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
    <meta name="author" content="">
    
    <!-- LOAD CSS FILES -->
    <link href="css/main.css" rel="stylesheet" type="text/css">
    
    <!-- LOAD JS FILES -->
   	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
     <script src="js/easing.js"></script>
    <script src="js/jquery.lazyload.js"></script>
    <script src="js/jquery.ui.totop.js"></script>
	<script src="js/selectnav.js"></script>
    <script src="js/ender.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/responsiveslides.min.js"></script>
    
</head>

<body>
	<!-- header begin -->
	<header>
        	<div id="logo">
            	<div class="inner">
   	    		  <a href="index.html"><img src="img/logo.png" alt=""></a>
            	</div>
            </div>
            
                        
            <!-- mainmenu begin -->
            <div id="mainmenu-container">           
				<ul id="mainmenu">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="room-details.html#">ROOM</a>
                  	<ul>
                    	<li><a href="room-list.html">Room List</a>
                        <li><a href="room-details.html">Room Details</a>
                    </ul>
                  </li>
                  <li><a href="booking.html">Booking</a></li>
                  <li><a href="room-details.html#">News</a>
                  	<ul>
                    	<li><a href="news.html">News List</a></li>
                    	<li><a href="single-news.html">Single News</a></li>
                    </ul>
                  </li>
                  <li><a href="fullwidth.html">Fullwidth</a></li>
                  <li><a href="gallery.html">Gallery</a></li>
                  <li><a href="contact.html">Contact</a></li>
              	</ul>
    		</div>

    </header>
	<!-- header close -->
    
    <!-- subheader begin -->
	<div id="subheader">
    	<div class="container">
    	  <div class="row">
          	<div class="span12">
            	<h1>Elegant Room</h1>
                <span>Feel more than home.</span>
            </div>
          </div>
    	</div>
    </div>
	<!-- subheader close -->  
      
	<!-- content begin -->
  <div id="content">
    	<div class="container">
        	<div class="row">
            	<div class="span8">
                <!-- Slideshow -->
                        <div class="callbacks_container">
                              <ul class="rslides pic_slider">
                                <li>
                                  <img src="img/pic-blank-1.gif" data-original="img/room-detail-1.jpg" alt="">
                                </li>
                                <li>
                                  <img src="img/pic-blank-1.gif" data-original="img/room-detail-2.jpg" alt="">
                                </li>
								<li>
                                  <img src="img/pic-blank-1.gif" data-original="img/room-detail-3.jpg" alt="">
                                </li>                              
                             </ul>
                        </div>
                <!-- Slideshow close -->
                </div>
                
                <div class="span4">
                	<div class="room-description">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
                    
                    <div class="row list-features">
                    	<h4 class="span4">Features</h4>
                         <ul class="room-features">
                            <li class="span2"><i class="icon-check-sign"></i>Kingsize Bed</li>
                            <li class="span2"><i class="icon-check-sign"></i>Mountain View</li>
                            <li class="span2"><i class="icon-check-sign"></i>Hotspot and TV Cable</li>
                            <li class="span2"><i class="icon-check-sign"></i>Free Lunch and Dinner</li>
                            <li class="span2"><i class="icon-check-sign"></i>Kingsize Bed</li>
                            <li class="span2"><i class="icon-check-sign"></i>Mountain View</li>
                            <li class="span2"><i class="icon-check-sign"></i>Hotspot and TV Cable</li>
                            <li class="span2"><i class="icon-check-sign"></i>Free Lunch and Dinner</li>
                            <li class="span2"><i class="icon-check-sign"></i>Kingsize Bed</li>
                            <li class="span2"><i class="icon-check-sign"></i>Mountain View</li>
                            <li class="span2"><i class="icon-check-sign"></i>Hotspot and TV Cable</li>
                            <li class="span2"><i class="icon-check-sign"></i>Free Lunch and Dinner</li>
                        </ul>
                    </div>
                    
                    <h4>Price</h4>
                    <div class="row">
                    	<div class="span2">
                            	<div class="price-info">
                            		<span class="price">$199</span> / night
                            	</div>
                            </div>
                            
                            <div class="span2 text-right">
                            <a href="booking.html" class="btn btn-primary">Book This Room</a>
                            </div>
                    	</div>                    
            	</div>
            </div>	
            <hr>
            <div class="text-center">
                    <h2>Favorite Rooms</h2>
                    Find your favorite room, feel more than home<br><br>
   			   </div>
            
            <div class="row room-list">
				
              <!-- room -->
              <div class="room span4">
                    <div class="btn-book-container">
                    <a href="booking.html" class="btn-book">Book Now</a>
                    </div>
           	    	<img src="img/pic-blank-1.gif" data-original="img/room-4.jpg" class="img-polaroid" alt="">
                    <h4>Deluxe Room</h4>
                    <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                	</div>
                    <div class="row">
                            <ul class="room-features">
                                <li class="span2"><i class="icon-check-sign"></i>Kingsize Bed</li>
                                <li class="span2"><i class="icon-check-sign"></i>Mountain View</li>
                                <li class="span2"><i class="icon-check-sign"></i>Hotspot and TV Cable</li>
                                <li class="span2"><i class="icon-check-sign"></i>Free Lunch and Dinner</li>
                            </ul>
                            
                            <div class="clearfix"></div>
                            
                            <br>
                            
							<div class="span2">
                            	<div class="price-info">
                            		<span class="price">$199</span> / night
                            	</div>
                            </div>
                            
                            <div class="span2 text-right">
                            <a href="room-details.html" class="btn btn-primary">View Detail</a>
                            </div>
                    </div>
                     
                     
                </div>
                <!-- close room -->
                
                  <!-- room -->
                <div class="room span4">
                    <div class="btn-book-container">
                    <a href="booking.html" class="btn-book">Book Now</a>
                    </div>
           	    	<img src="img/pic-blank-1.gif" data-original="img/room-5.jpg" class="img-polaroid" alt="">
                    <h4>Elegant Room</h4>
                    <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                	</div>
                    <div class="row">
                            <ul class="room-features">
                                <li class="span2"><i class="icon-check-sign"></i>Kingsize Bed</li>
                                <li class="span2"><i class="icon-check-sign"></i>Mountain View</li>
                                <li class="span2"><i class="icon-check-sign"></i>Hotspot and TV Cable</li>
                                <li class="span2"><i class="icon-check-sign"></i>Free Lunch and Dinner</li>
                            </ul>
                            
                            <div class="clearfix"></div>
                            
                            <br>
                            
							<div class="span2">
                            	<div class="price-info">
                            		<span class="price">$299</span> / night
                            	</div>
                            </div>
                            
                            <div class="span2 text-right">
                            <a href="room-details.html" class="btn btn-primary">View Detail</a>
                            </div>
                    </div>
      			</div>
                <!-- close room -->
                
                


              <!-- room -->
                <div class="room span4">
                    <div class="btn-book-container">
                    <a href="booking.html" class="btn-book">Book Now</a>
                    </div>
           	    	<img src="img/pic-blank-1.gif" data-original="img/room-6.jpg" class="img-polaroid" alt="">
                    <h4>Luxury Room</h4>
                    <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                	</div>
                    <div class="row">
                            <ul class="room-features">
                                <li class="span2"><i class="icon-check-sign"></i>Kingsize Bed</li>
                                <li class="span2"><i class="icon-check-sign"></i>Mountain View</li>
                                <li class="span2"><i class="icon-check-sign"></i>Hotspot and TV Cable</li>
                                <li class="span2"><i class="icon-check-sign"></i>Free Lunch and Dinner</li>
                            
                            </ul>
                            
                            <div class="clearfix"></div>
                            
                            <br>
                            
							<div class="span2">
                            	<div class="price-info">
                            		<span class="price">$399</span> / night
                            	</div>
                            </div>
                            
                            <div class="span2 text-right">
                            <a href="room-details.html" class="btn btn-primary">View Detail</a>
                            </div>
                    </div>

      			</div>
                <!-- close room -->
            	
         	 </div>
             
    	</div>
        
        </div>
	<!-- content close -->
    
    <!-- footer begin -->
	<footer>
  		<div class="container">
   	  		<div class="row">
                <div class="span3">
                	<img src="img/logo-2.png" alt="">
                </div> 
            	<div class="span3">
                	<h3>About Us</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </div>                                
 				<div class="span3">
                    <h3>Latest News</h3>
                    <ul class="list-news"> 
                        <li>
                            <img src="img/thumbnail-1.jpg" alt=""/>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
                        </li>
                        <li>
                            <img src="img/thumbnail-1.jpg" alt=""/>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
                        </li>
                    </ul>                
               </div>
               <div class="span3">
                	<h3>Our Address</h3>
                    	<address>
                                80 Gotham Street, Sydney
                        <span><strong>Phone:</strong>(208) 222 4546</span>
                        <span><strong>Fax:</strong>(208) 222 4647</span>
                        <span><strong>Email:</strong><a href="mailto:contact@example.com">contact@example.com</a></span>
                        <span><strong>Web:</strong><a href="room-details.html#test">http://example.com</a></span>
                       </address>
                       
                       <div class="social-icons">
                        	<a href="room-details.html#"><img src="img/social-icons/rss.png" alt=""/></a>
                        	<a href="room-details.html#"><img src="img/social-icons/facebook.png" alt=""/></a>
                        	<a href="room-details.html#"><img src="img/social-icons/twitter.png" alt=""/></a>
                        	<a href="room-details.html#"><img src="img/social-icons/gplus.png" alt=""/></a>
                        	<a href="room-details.html#"><img src="img/social-icons/youtube.png" alt=""/></a>
                        	<a href="room-details.html#"><img src="img/social-icons/vimeo.png" alt=""/></a>
                        </div>
                </div>
            </div>
        </div>
        
        <div class="subfooter">
        	<div class="container">
                <div class="row">
                	<div class="span6">
                    	&copy; Copyiright 2013 - Sunshine by Aveothemes
                    </div>
                    <div class="span6">
                    	<nav>
                          <ul>
                              <li><a href="room-details.html#">Home</a></li>
                              <li><a href="room-details.html#">Room</a></li>
                              <li><a href="room-details.html#">Booking</a></li>
                              <li><a href="room-details.html#">News</a></li>
                              <li><a href="room-details.html#">Gallery</a></li>
                              <li><a href="room-details.html#">Contact</a></li>
                          </ul>
                        </nav>
                  </div>
                </div>
            </div>
        </div>
        
   	</footer>
	<!-- footer close -->
   
</body>
</html>

